:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #e7e9fc;
  --primary-brand-color: #4d5ae5;
  --secondary-bg-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --messages-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --pressed-state-color: #404bbf;
  --modal-window-bcg: #fcfcfc;
  --shadow-hero-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-modal-window: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-secondary-color: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --shadow-third-color: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ___Header___ */

.page-header {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.main-nav,
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-wrap {
  color: var(--primary-brand-color);
}

.site-nav {
  display: flex;
  margin-left: 77px;
}

.site-nav .item {
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}
.site-nav .link:active {
  color: var(--primary-brand-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--primary-brand-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 40px;
}

.contacts .link {
  font-style: normal;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .list .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--primary-brand-color);
}

/* Герой */

.hero {
  background-color: var(--title-text-color);
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
  min-height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .title {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero .button-primary {
  min-width: 170px;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  display: block;
  color: var(--primary-white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button-primary:focus,
.hero .button-primary:hover {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* OUR FEATURES */

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

.feature-decor {
  display: flex;
  background-color: var(--secondary-bg-color);
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.feature-icon {
}

.feature-list .title {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-list .item {
  margin-right: 24px;
  width: 264px;
}

.feature-list .item:last-child {
  margin-right: 0px;
}

/* ____ABOUT US____ */

.about {
  padding-bottom: 120px;
}

.about-title {
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.about-list {
  display: flex;
  margin-left: auto;
  margin-top: 72px;
  list-style: none;
}

.about-list .item {
  margin-right: 24px;
}

.about-list .item:last-child {
  margin-right: 0px;
}

/* ___OUR TEAM___ */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-bg-color);
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  margin-left: auto;
  text-align: center;
  list-style: none;
}

.team-info {
  padding: 32px 16px;
}

.team-list .title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-list .item {
  margin-right: 24px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin-right: 0px;
}

.team-social {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  list-style: none;
}

.icon-list {
  width: 40px;
  height: 40px;
}

.team-icons {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  fill: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons:hover,
.team-icons:focus {
  background-color: var(--pressed-state-color);
}

.team-icon {
  width: 16px;
  height: 16px;
}

/* ___CUSTOMERS___ */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customer-list {
  display: flex;
  margin-left: auto;
  margin-top: 72px;
  margin-right: 24px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.customer-list:last-child {
  margin-right: 0px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}

.client-icon {
  fill: currentColor;
}
/* СТИЛІ ДЛЯ ПОРТФОЛІО */

/* Кнопки */

.button {
  padding: 12px 24px;
  text-align: center;
  color: var(--primary-brand-color);
  background-color: var(--secondary-bg-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--secondary-bg-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-current {
  padding: 12px 24px;
  color: var(--secondary-bg-color);
  background-color: var(--primary-brand-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ___FILTERS___ */

.site-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter .item {
  margin-right: 24px;
}
.filter .item:last-child {
  margin-right: 0px;
}

/* Список проектів */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-info {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  list-style: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translate(0, 100%);

  width: 100%;
  height: 100%;

  color: var(--secondary-bg-color);

  background-color: var(--primary-brand-color);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover .overlay-text,
.portfolio-list .item:focus .overlay-text {
  transform: translate(0, 0);
}

/* FOOTER */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: auto;
  background-color: var(--title-text-color);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.left-footer {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  color: var(--secondary-bg-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-wrap {
  color: var(--primary-brand-color);
}

.footer-text {
  width: 264px;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-right {
  width: 208px;
}

.footer-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-white-color);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-items {
  width: 40px;
  height: 40px;
}

.footer-icons {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: var(--messages-color);
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.subscribe {
  margin-left: 80px;
}

.subscribe-title {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-white-color);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.subscribe-input {
  width: 264px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  color: var(--primary-white-color);
  font-size: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--primary-brand-color);
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;

  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.06em;

  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: currentColor;
}

/* ___MODAL WINDOW____ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  scale: 0.5;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding-top: 72px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--modal-window-bcg);
  border-radius: 4px;
  box-shadow: var(--shadow-modal-window);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  color: var(--primary-white-color);
  background-color: var(--pressed-state-color);
  box-shadow: var(--shadow-secondary-color);
}

.close-button-icon {
  fill: currentColor;
}

/* _____MODAL FORM_____ */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-thumb {
  position: relative;
  margin-bottom: 8px;
  color: var(--title-text-color);
}

.modal-form-input-icon,
.modal-form-input-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
  width: 18px;
  height: 18px;
}

.modal-form-input-icons {
  width: 18px;
  height: 24px;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--primary-brand-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agree-desc {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-agree-link {
  color: var(--primary-brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agree-link:hover,
.modal-agree-link:focus {
  color: var(--pressed-state-color);
}

.modal-desc-icon-thumb {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: transparent;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-desc-icon {
  width: 10px;
  height: 8px;
  fill: currentColor;
}

.modal-form-agree:checked + .modal-desc-icon-thumb {
  color: var(--secondary-bg-color);
  background-color: var(--pressed-state-color);
  border: 1.25px solid var(--pressed-state-color);
}

.modal-form-agree:focus + .modal-desc-icon-thumb {
  border: 1.25px solid var(--pressed-state-color);
}

.modal-button {
  min-width: 170px;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);

  background-color: var(--primary-brand-color);
  box-shadow: var(--shadow-hero-button);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state-color);
}
